dj-database-url==0.3.0
Django==1.8.1
gunicorn==19.3.0
SQLAlchemy==1.0.4
whitenoise==1.0.6
django-bootstrap-toolkit==2.15.0
django-ckeditor==5.0.2
django-registration-redux==1.2
django-social-auth==0.7.28
facebook-sdk==0.4.0
python-social-auth==0.2.13
requests==2.2.1
Pillow==2.3.0
django-imagekit==3.3
Unidecode==0.04.9
django-storages==1.4
boto==2.39.0