{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    <title>{% block title %}User test{% endblock %}</title>
    <style type="text/css">
    body
    {
        margin: 0;
    }
    #header
    {
        background: rgba(50,50,50,0.8);
        padding: 10px;
        border-bottom: 2px solid orange;
    }
    a
    {
        color:orange;
        text-decoration: none;
    }
    a:hover
    {
        text-decoration: none;
    }
    a:visited
    {
        color:orange;
        text-decoration: none;
    }
    </style>
</head>

<body>
    <div id="header">
    {% block header %}
    <a href="{% url 'index' %}">{% trans "Home" %}</a> <font color="orange">| </font>

    {% if user.is_authenticated %}
        <font color="orange">{% trans "Logged in" %}:</font> <font color="white">{{ user.username }}</font> 
        <font color="orange">(</font><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a> <font color="orange">|</font> 
        <a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a><font color="orange">)</font>
    {% else %}
       <a href="{% url 'auth_login' %}"><font color="white">{% trans "Log in" %}</font></a>
    {% endif %}
    {% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <!--<div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>-->
</body>

</html>