{% extends "registration/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<style type="text/css">
body
{
	background-image: url('{% static "images/bg2.jpg" %}');
	background-size: 100%;
	background-attachment: fixed;
}
#message
{
	margin: 40px;
	padding: 20px;
	border:3px solid green;
	background: rgba(234,237,247,0.5);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
</style>
<div id="message">
<h1 style="color:green;">{% trans 'Password change successful!' %}</h1>

<p><strong>{% trans 'Your password was changed.' %}</strong></p>
</div>

{% endblock %}