
{% extends "registration/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans 'Password change' %} {% endblock %}

{% block content %}
<style type="text/css">
body
{
	background-image: url('{% static "images/bg2.jpg" %}');
	background-size: 100%;
	background-attachment: fixed;
}
#main
{
	margin: 40px;
	padding: 20px;
	border:3px solid rgb(70,94,170);
	background: rgba(234,237,247,0.5);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#next
{
	background: rgb(56,77,137);
	color: white;
	font-weight: bold;
	border:2px solid rgb(56,77,137);
	padding: 5px;
}
#next:hover
{
	background: transparent;
	color: rgb(56,77,137);
}
input[type="password"]
{
padding: 3px;
font-size: 15px;
width:250px;
border:1px solid rgb(56,77,137);
-webkit-border-radius:5px;
}
</style>
<div id="main">
<h1 style="color:rgb(70,94,170);">{% trans 'Password change' %}</h1>

<p style="color:rgb(50,50,50);">*{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
{% csrf_token %}
{{ form.old_password.errors }}
<p class="aligned wide">{{ form.old_password }}</p>
{{ form.new_password1.errors }}
<p class="aligned wide">{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide">{{ form.new_password2 }}</p>

<p><input type="submit" id="next" value="{% trans 'Change my password' %}" /></p>
</form>

</div>
<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script type="text/javascript">
$('#id_old_password').attr("placeholder","Old Password");
$('#id_new_password2').attr("placeholder","Confirm Password");
$('#id_new_password1').attr("placeholder","New Password");
</script>
{% endblock %}

{% block content-related %}

{% endblock %}