packages: 
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    libtiff-devel: []
    zlib-devel: []
    freetype-devel: []
    postgresql94-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: paradox/wsgi.py
    
container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01delete:
    command: "python delete_migrations.py"
    leader_only: true
  02makemigrations:
    command: "django-admin.py makemigrations"
    leader_only: true
  03migrate_auth:
    command: "django-admin.py migrate auth"
    leader_only: true
  04migrate:
    command: "django-admin.py migrate"
    leader_only: true