packages: 
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    libtiff-devel: []
    zlib-devel: []
    freetype-devel: []
    postgresql94-devel: []

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: paradox/wsgi.py
    
container_commands:
  collectstatic:
    command: "manage.py collectstatic --noinput"
  01makemigrations:
    command: "manage.py makemigrations"
    leader_only: true
  02migrate:
    command: "manage.py migrate"
    leader_only: true
