packages: 
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    libtiff-devel: []
    zlib-devel: []
    freetype-devel: []
container_commands:
  collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01makemigrations:
    command: "django-admin.py makemigrations"
    leader_only: true
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03populate:
    command: "python populate_nblik.py"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: paradox/wsgi.py
