@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/*@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700italic);*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
/*@import url(https://fonts.googleapis.com/css?family=Vollkorn:700);*/
/*@import url(https://fonts.googleapis.com/css?family=Itim);*/
/*@import url(https://fonts.googleapis.com/css?family=Rhodium+Libre);*/
/*georgia*/
body
{
	padding:40px 0 0 10px;
	background: rgb(234,237,247);
	/*word-break:break-all;*/
}
a.blog_title:link
{
	color:black;
	font-family: 'Ubuntu', sans-serif;
}
a.blog_title:hover
{
	text-decoration: none;
}
a.blog_title:visited
{
	color:black;
}
a.blog_title:active
{
	color:black;
}
.blog_text
{
	color:rgb(75,75,75);
	font-family:georgia,arial;
	font-weight:normal;
	font-size: 16px;
	letter-spacing: 1px;
}
.blog_text::first-letter
{
	font-size: 20px;
	font-weight: bold;
}
h2
{
	font-family: 'Montserrat',tahoma,arial;
	font-weight: 700;
	color:rgb(75,75,75);
	letter-spacing: 1px;
}
h1
{
	color:black;
	font-family:'Ubuntu',arial;
}

#quick_blog
{
	margin-top: 20px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
#quick_blog textarea
{
	padding-left: 5px;
	border:none;
	resize:none;
	font-size: 16px;
}
#quick_blog button
{
	color:white;
	font-weight: bold;
	border:2px solid  rgb(70,94,170); 
	margin-top: 5px;
	background: rgb(70,94,170);
	padding: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
#quick_blog button:hover
{
	color:rgb(70,94,170);
	background:transparent;
}
#quick_blog span
{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 18px;
}
.blog_like,#category_like
{
	color:white;
    font-weight: bold;
    border:2px solid rgb(0,123,255); 
    margin-top: 5px;
    background: rgb(0,123,255);
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.blog_like:hover,#category_like:hover
{
	color:rgb(0,123,255);
    background:transparent;
}
#comment,.post
{
	color:white;
    font-weight: bold;
    border:2px solid rgb(70,94,170); 
    margin-top: 5px;
    background: rgb(70,94,170);
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
#comment:hover,.post:hover
{
	color:rgb(70,94,170);
    background:transparent;
}
#share:link
{
background: rgb(0,123,255);
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
color:white;
font-weight: bold;
padding: 3px;
}
#share:hover
{
	background: rgb(70,94,170);
	text-decoration: none;
}
#share:visited
{
	color:white;
}
#cat:hover
{
text-decoration: none;
}
#written_by:link
{
	font-weight: bold;
	color:gray;
}
a#written_by:hover
{
	color: black;
	text-decoration: none;
}
#written_by:visited
{
	color:gray;
}
.text_div
{
	padding: 10px;
	margin-bottom:20px;
}
.text_div>p
{
	font-size: 16px;
	font-family: georgia;
	margin-bottom: 0;
}
.active_text
{
	height:150px;
	overflow: hidden;
}
.active_text>p
{
	font-size: 16px;
	font-family: georgia;
	margin-bottom: 0;
}
.pro_pic
{
	height:50px;
	width:50px;
	-webkit-border-radius:50% 50%;
	-moz-border-radius:50% 50%;
	border-radius:50% 50%;
}
.blog_div
{
	background: white;
	margin: 10px;
	padding: 20px;
	-webkit-box-shadow:2px 2px 3px rgb(100,100,100);
	-moz-box-shadow:2px 2px 3px rgb(100,100,100);
	box-shadow:2px 2px 3px rgb(100,100,100);
	overflow: hidden;
	height: auto;
}
#category_div
{
	text-align: center;
	margin-bottom: 0;
}
.discussion_div
{
	background: white;
	max-width: 98%;
	padding: 20px;
	-webkit-box-shadow:2px 2px 3px rgb(100,100,100);
	-webkit-border-radius:5px;
	-moz-box-shadow:2px 2px 3px rgb(100,100,100);
	-moz-border-radius:5px;
	box-shadow:2px 2px 3px rgb(100,100,100);
	border-radius:5px;
	margin: 10px;
}
button.like
{
    color:white;
    font-weight: bold;
    border:2px solid rgb(0,123,255); 
    margin-top: 5px;
    background: rgb(0,123,255);
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
button.like:hover
{
    color:rgb(0,123,255);
    background:transparent;
}