{% extends 'nblik/base2.html' %}
{% load staticfiles %}
{% load cloudinary %}
{% block title %}- {{ userprofile.name }}{% endblock %}
{% block body_block %}
<br/>
<br/>
<style type="text/css">
body
{
	text-align: center;
  background: rgb(234,237,247);
  padding: 80px;
}
p
{
  text-align: left;
}
img[style].pro_pic
{
	-webkit-border-radius:50% 50%;
  -moz-border-radius:50% 50%;
  -ms-border-radius:50% 50%;
  border-radius:50% 50%;
}
#name
{
  font-size: 24px;
  font-weight: bold;
  color:rgb(60,60,60);
}
#tag
{
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
  /*font-family: ;*/
}
#wrapper
{
  display: -webkit-box;
  -webkit-box-orient:horizontal;
  -webkit-box-pack:center;
  -webkit-box-flex:1;
  display: -moz-box;
  -moz-box-orient:horizontal;
  -moz-box-pack:center;
  -moz-box-flex:1;
  display: -ms-box;
  -ms-box-orient:horizontal;
  -ms-box-pack:center;
  -ms-box-flex:1;
  margin-bottom: 40px;
}
#nav>ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}
#ata
{
  margin: 0;
  padding: 0;
  position: relative;
  width:700px;
  text-align: center;
  background: white;
}
#nav>ul>li
{
  margin: 5px 0 10px 5px;
  font-size:20px;
  font-weight: bold;
  padding: 5px 5px 5px 10px;
  color:white;
  background: rgb(70,94,170);
  -webkit-border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  -ms-border-radius:5px 0 0 5px;
  border-radius:5px 0 0 5px;
}
#nav>ul>li:first-of-type
{
  background:white; 
  color:rgb(28,56,110);
}
#nav>ul>li:hover
{
  cursor:pointer;
}
div[id^="d"]
{
  padding: 20px;
  position: absolute;
  width:100%;
  text-align: center;
  background:white;
  -webkit-border-radius:0 10px 10px 0;
  -ms-border-radius:0 10px 10px 0;
  -moz-border-radius:0 10px 10px 0;
  -o-border-radius:0 10px 10px 0;
  visibility: hidden;
}
div[id^="d"]:last-child
{
  visibility: visible;
}
.data
{
  font-size: 16px;
  font-weight: bold;
}
#logout_link:link
{
  font-weight: bold;
  background: transparent;
}
#logout_link:hover
{
  text-decoration: none;
}
#settings_list>li
{
  list-style: none;
  padding: 10px;
  text-align: left;
}
#edit_language
{
  color: #337ab7;
  font-weight: bold;
}
#edit_language:hover
{
  cursor: pointer;
  color: #23527c;
}
.language1
{
  padding: 0;
  -webkit-border-radius:0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  border-radius:0 5px 5px 0;
  height:0;
  overflow: hidden;
}
.language2
{
  padding: 10px;
  -webkit-border-radius:0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  border-radius:0 5px 5px 0;
  height:auto;
}
#edit_lang
{
  color: rgb(150,150,150);
  font-weight: bold;
  border:2px solid  rgb(150,150,150); 
  margin-top: 5px;
  background: transparent;
  padding: 3px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
#edit_lang:hover
{
  color:black;
  border-color: black;
}
#d4 a:link,#d4 a:visited,#d3 a:link,#d3 a:visited
{
  color:rgb(150,150,150);
}
#d4 a:hover,#d3 a:hover
{
  color:black;
  text-decoration: none;
}
#d2 a:link,#d2 a:visited,#d6 a:link,#d6 a:visited
{
  color:rgb(100,100,100);
  font-weight: bold;
  font-size: 20px;
}
#d2 a:hover,#d6 a:hover
{
  color:black;
  text-decoration: none;
}
a:hover
{
  text-decoration: none;
}
.blog
{
  max-height: 200px;
  overflow: hidden;
}
</style>
{% if userprofile.picture %}
<img style="height:150px;width:150px;" src="{{ userprofile.picture }}" class="pro_pic"/>
{% endif %}<br/><br />
<span id="name">{{ userprofile.name }}</span><br>
{% if userprofile.profile_tag_line %}
<span id="tag">{{ userprofile.profile_tag_line }}</span><br/>
{% endif %}
{% if user == user_m %}
<a href="/nblik/edit_profile/">Edit</a>
{% endif %}
{% if show == "yes" and user != user_m %}
<button class="follow_user like" data-userprofileid="{{ userprofile.id }}" type="button">Follow</button><br>
{% endif %}
{% if show != "yes" and user != user_m %}
<button class="unfollow_user" data-userid="{{ userprofile.user.id }}" type="button">Unfollow</button><br>
{% endif %}
<br />
<div id="wrapper">
<div id="nav">
<ul>
<li data-id="5">About</li>
<li data-id="4">Following</li>
<li data-id="3">Followers</li>
<li data-id="2">Blogs</li>
<li data-id="6">Discussions</li>
{% if user == user_m %}
<li data-id="1">Settings</li>
{% endif %}
</ul>
</div>
<div id="ata">
  {% if user == user_m %}
<div id="d1">
  <ul id="settings_list">
  <li><span id="edit_language">Language</span></li>
  <li><a id="logout_link" href="{% url 'logout' %}">Logout</a></li>
</ul>
<div id="language_id" class="language1">
  <form method="post" action="/nblik/edit_language/">
    
<h4>Choose prefered language : </h4>
  <input type="radio" name="language" value="1"> English<br>
  <input type="radio" name="language" value="2"> Hindi<br>
  <input type="radio" name="language" value="3"> Both<br><br>
  <input type="button" value="Set" id="edit_lang">
</form>
</div>
</div>
{% endif %}
<div id="d6">
  <span class="data">Discussions ({{ l_dis }})</span><br><br>
{% for discussion in discussions %}
<p style="text-align:left;">
<a href="/nblik/discussion/{{ discussion.slug }}">{{ discussion.topic }}</a><br>
{{ discussion.intro|safe }}<br>
<strong>{{ discussion.likes }}</strong> <font color="gray">like(s)</font>
</p>
<hr><br>
{% endfor %}
</div>
<div id="d2">
  <span class="data">Blogs ({{ l_blogs }})</span><br><br>
{% for blog in blogs %}
<div class="blog">
<p style="text-align:left;">
<a href="/nblik/blog/{{ blog.slug }}">{{ blog.title }}</a></p>
{{ blog.blog_content|safe }}
<p><strong>{{ blog.likes }}</strong> <font color="gray">like(s)</font> , <strong>{{ blog.views }}</strong> <font color="gray">view(s)</font></p>
</div><hr><br>
{% endfor %}
</div>
<div id="d3"><span class="data">Followers ({{ userprofile_follow.followers }})</span><br><br>
  {% for up_follow in followers %}
<br><img style="height:50px;width:50px;-webkit-border-radius:50% 50%;" src="{{ up_follow.userprofile.userprofile.picture }}"> &nbsp &nbsp
<a href="/{{ up_follow.userprofile }}/"><span class="data">{{ up_follow.userprofile.userprofile.name }}</span></a><br /><hr>
{% endfor %}
</div>
<div id="d4"><span id="follow_data" class="data">Following ({{ userprofile_follow.no_followed }})</span><br><br>
  {% for up in followed_list %}
  <div id="follow_{{ up.user.id }}">
<br><img style="height:50px;width:50px;-webkit-border-radius:50% 50%;" src="{{ up.picture }}"> &nbsp &nbsp
<a href="/{{ up.user }}/"><span class="data">{{ up.name }}</span></a> 
{% if user == user_m %}
<button class="unfollow_user" data-userid="{{ up.user.id }}" type="button">Unfollow</button>
{% endif %}
<br /><hr>
</div>
{% endfor %}</div>
<div id="d5">
  About the user:<br>
  {% if userprofile.who %}
<strong>{{ userprofile.who }}</strong><br>
{% endif %}
{% if cat_list %}
<strong>Interested in: 
{% for cat in cat_list %}
<a href="/nblik/category/{{ cat.slug }}">{{ cat.name }}</a> &nbsp
{% endfor %}
<br>
</strong>
{% endif %}
{% if user == user_m %}
<br><strong>Your Username: </strong>{{ user }}<br>
{% endif %}
<br><strong>Birthday: </strong> {{ userprofile.dob_date }}/{{ userprofile.dob_month }}/{{ userprofile.dob_year }}<br>
{% if userprofile.from_place %}
<br><strong>From:</strong> {{ userprofile.from_place }}<br>
{% endif %}
{% if userprofile.lives_in %}
<br><strong>Lives in:</strong> {{ userprofile.lives_in }}
{% endif %}
<br>
Prefered Language: <strong>{{ lang }}</strong><br>
</div>
</div>
</div>
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
  <script src="{% static "js/nblik-jquery.js" %}"></script>
  <script type="text/javascript">
  $('.follow_user').click(function(event){
    var user_id;
    user_id = $(this).attr("data-userprofileid");
    var ele=$(this);
    $.get('/nblik/follow_user/',{user_id: user_id},function(data){
        ele.hide();
      });
    event.stopImmediatePropagation();
    });
  </script>
{% endblock %}