{% extends 'nblik/base2.html' %}
{% load staticfiles %}
{% block title %}- Discussion{% endblock %}
{% block body_block %}
{% load nblik_extras %}
<style type="text/css">
body{
    background: rgb(234,237,247);
}
.panel
{
    padding: 40px;
    background: white;
    max-width: 95%;
    margin-top:40px;
    margin-bottom: 40px;
    margin-left:20px;
    -webkit-box-shadow:2px 2px 3px rgb(100,100,100);
    -webkit-border-radius:5px;
    -moz-box-shadow:2px 2px 3px rgb(100,100,100);
    -moz-border-radius:5px;
}
.edit_del
{
    border:2px solid rgb(150,150,150);
    padding: 3px;
    color:rgb(150,150,150);
    background: transparent;
}
.edit_del:hover
{
    color:black;
    border-color:black;
    text-decoration: none;
}
#delete
{
    height: 0;
    overflow: hidden;
    padding: 0;
}
div#delete.show
{
    height:auto;
    padding: 2px;
}
h4
{
    font-weight: bold;
    color: rgb(150,150,150);
}
a#starter:link,a#starter:visited,h4 a:link,a:visited
{
    color: rgb(100,100,100);
    font-weight: bold;
}
a#starter:hover,h4 a:hover
{
    color: black;
    text-decoration: none;
}
#discussion_like[liked="yes"]
{
    color:white;
    font-weight: bold;
    border:2px solid rgb(150,150,150); 
    margin-top: 5px;
    background: rgb(150,150,150);
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
#discussion_like[liked="yes"]:hover
{
    color:black;
    border-color:black;
    background:transparent;
}
</style>
<div>
	<div class="panel">
        <br/>
                    <div class="panel-heading">
                        <h4>{{ discussion.category.name }}</h4><br>
                    <h3 class="panel-title" style="color:black;font-family: 'Ubuntu', sans-serif;font-size: 24px;">{{ discussion.topic }}</h3><br>
                    {% if user == discussion.started_by.user %}
        <a href="/nblik/edit_discussion/{{ discussion.slug }}" class="edit_del">Edit</a> &nbsp
        <button id="delete_dialog" class="edit_del">Delete</button><br>
        <div id="delete">Are you sure?<br><a href="/nblik/delete_discussion/{{ discussion.slug }}">Yes</a> <a id="no" href="">No</a> </div><br>
        {% endif %}
                    <span style="color:gray;">started by</span> <img src="{{ discussion.started_by.picture.url }}" class="pro_pic"/> <a id="starter" href="/{{ discussion.started_by.user }}/"><span style="font-weight:bold;font-size:16px;">{{ discussion.started_by.name }}</span></a><br><br>
                    <p style="word-wrap:break-word;font-size:16px;font-family:georgia;margin-bottom:0;"><span style="color:gray;">on</span> {{ discussion.intro|safe }}</p> <br>
                    <span id="discussion_like_count" style="font-weight:bold;">{{ discussion.likes }}</span> <font style="color:grey;">like(s)</font> &nbsp
                    {% if user.is_authenticated %}
                    {% if show %}
                        <button id="discussion_like" data-blogid="{{ discussion.id }}" class="like" type="button" liked="no" style="font-size:14px;padding:2px;">
                        <span class="glyphicon glyphicon-thumbs-up"> </span>
                        Like</button>
                        {% else %}
                        <button id="discussion_like" data-blogid="{{ discussion.id }}" class="like" type="button" liked="yes" style="font-size:14px;padding:2px;">
                        Unlike</button>
                    {% endif %}
                    {% else %}
                    <a href="/nblik/login_signup" class='like blog_like'><span class="glyphicon glyphicon-thumbs-up"> </span> Like</a>
                    {% endif %}&nbsp
                    {% if user.is_authenticated %}
    <a id="share" href="/nblik/post_to_facebook_discussion/{{ discussion.id }}/"> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</a>
    {% else %}
    <a id="share" href="{% url 'socialauth_begin' 'facebook' %}"> <span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</a>
    {% endif %}
                    <br /><br />
                    <div class="panel-body">
                        <div class="list-group">
                            <div id="wrapper">
                            {% if discuss_list %}
                            {% for discuss in discuss_list %}
                                <div class="list-group-item" style="width:75%;">
                                    <h4 class="list-group-item-heading" style="font-weight:bold;"><img src="{{ discuss.discuss_by.picture.url }}" class="pro_pic_2"/><a href="/{{ discuss.discuss_by }}/"> {{ discuss.discuss_by.name }}</a></h4>
									<p class="list-group-item-text" style="font-family:georgia;font-size: 16px;margin-bottom:0;">{{ discuss.discuss_text|safe }}</p>
									<p style="color:gray;"><span id="{{ discuss.id }}" style="color:black">{{ discuss.likes }}</span> like(s)</p>
                        {% for key,value in show_discuss.items %}
                        {% if key == discuss.id and value == "yes" %}
                        <button id="discuss {{ discuss.id }}" data-blogid="{{ discuss.id }}" class="discuss-lyk" type="button" liked="no" style="font-size:14px;padding:2px;">
                        <span class="glyphicon glyphicon-thumbs-up"> </span>
                        Like</button>
                        {% endif %}
                        {% if key == discuss.id and value != "yes" %}
                        <button id="discuss {{ discuss.id }}" data-blogid="{{ discuss.id }}" class="discuss-lyk" type="button" liked="yes" style="font-size:14px;padding:2px;">
                        Unlike</button>
                        {% endif %}
                        {% endfor %}
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                            <br />
                            <!--<div class="list-group-item" id="new_discuss">
                                    <h4 class="list-group-item-heading" id="new_discuss_by" > </h4>
                                    <p class="list-group-item-text" id="new_discuss_text" ></p><br />
                                    <p style="color:gray;"><font color="black" id="new_discuss_like"></font> like(s)</p>
                            </div>-->
                            <div class="list-group">
                                <h4 class="list-group-item-heading" style="font-weight:bold;">{{ up.name }}:</h4>
                                <p class="list-group-item-text"><textarea id="discuss_text" cols="90" rows="6" style="resize:none;"></textarea><br/></p>
                                <button id="discuss" type="button" data-discussionid="{{ discussion.id }}" data-upid="{{ up.id }}" data-upname="{{ up.name }}" class="post" style="padding:6px;">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
{% endblock %}