{% if userprofiles %}
{% load staticfiles %}
<style type="text/css" rel="stylesheet">
#wrapper
{
	overflow:hidden;
	width:178px;
	height:153px;
	position: relative;
	-webkit-border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	border-radius:10px 0 0 10px;
}
.follow_div
{
	width:175px;
	height:150px;
	margin: 0;
	padding: 15px;
	position: absolute;
	background: white;
	-webkit-border-radius:10px 0 0 10px;
	-webkit-box-shadow: 1px 1px 2px rgb(100,100,100);
	-moz-border-radius:10px 0 0 10px;
	-moz-box-shadow: 1px 1px 2px rgb(100,100,100);
	font-weight: bold;
}
.btn-primary
{
	padding:2px;
	font-size: 14px;
}
#inner
{
	max-height: 100px;
	overflow: auto;
}
</style>
<font style="font-size:14px;font-weight:bold;">Follow</font>
<hr style="margin:2px 2px 5px 2px;border-color:black;">
<div id="wrapper">
	<div class="follow_div">No more to <br>follow.</div>
	{% for up in userprofiles %}
	    <div id="{{ up.id }}" class="follow_div"><div id="inner"><img src="{{ up.picture.url }}" class="pro_pic"/> &nbsp-<a id="written_by" href="/{{ up.user }}/">{{ up.name }}</a></div><br>
      	<button class="follow_user like" data-userprofileid="{{ up.id }}" type="button">Follow</button>&nbsp<button type="button" class="skip like" data-userprofileid="{{ up.id }}">Skip</button>
  		</div>
	{% endfor %}
</div>
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
	<script src="{% static "js/nblik-jquery.js" %}"></script>
{% endif %}
