{% if userprofiles %}
{% load staticfiles %}
<style type="text/css" rel="stylesheet">
#wrapper
{
	overflow:hidden;
	width:100%;
	height:173px;
	position: relative;
	-webkit-border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	border-radius:10px 0 0 10px;
}
.follow_div
{
	width:98%;
	height:170px;
	margin: 0;
	padding: 15px;
	position: absolute;
	background: white;
	-webkit-border-radius:10px 0 0 10px;
	-webkit-box-shadow: 1px 1px 2px rgb(100,100,100);
	-moz-border-radius:10px 0 0 10px;
	-moz-box-shadow: 1px 1px 2px rgb(100,100,100);
	font-weight: bold;
}
.btn-primary
{
	padding:2px;
	font-size: 14px;
}
#inner
{
	max-height: 115px;
	overflow-y: auto;
	overflow-x: hidden; 
}
</style>
<font style="font-size:14px;font-weight:bold;">Follow</font>
<hr style="margin:2px 2px 5px 2px;border-color:black;">
<div id="wrapper">
	<div class="follow_div">No more to follow.</div>
	{% for up in userprofiles %}
	    <div id="follow_{{ up.id }}" class="follow_div"><div id="inner"><img src="{{ up.picture.url }}" class="pro_pic"/> <br><a id="written_by" href="/{{ up.user }}/">{{ up.name }}</a><br>
	    	<font color="black">{{ up.who }}</font>
	    </div>
	    {% if user.is_authenticated %}
      	<button class="follow_user like" data-userprofileid="{{ up.id }}" type="button">Follow</button>&nbsp<button type="button" class="skip like" data-userprofileid="{{ up.id }}">Skip</button>
      	{% else %}
      	<a class="follow_user like" type="button" href="/nblik/login_signup">Follow</a>&nbsp<button type="button" class="skip like" data-userprofileid="{{ up.id }}">Skip</button>
      	{% endif %}
  		</div>
	{% endfor %}
</div>
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript">
    $('.follow_user').click(function(event){
		var user_id;
		user_id = $(this).attr("data-userprofileid");
		$.get('/nblik/follow_user/',{user_id: user_id},function(data){
		    $("#follow_"+user_id).hide();
			});
    event.stopImmediatePropagation();
    });
    $('.skip').click(function(event){
    var user_id;
    user_id = $(this).attr("data-userprofileid");
    $("#follow_"+user_id).hide();
    });
    </script>
	<script src="{% static "js/nblik-jquery.js" %}"></script>
{% endif %}
